<!-- lazy loading -->
<h2>admin links</h2>
<ul>
  <li><a routerLink="admin">admin</a></li>
  <li><a routerLink="admin/deshbord">dashboard</a></li>
  <li><a routerLink="admin/deshbord/buyer">buyerDetails</a></li>
  <li><a routerLink="admin/deshbord/seller">sellerDetails</a></li>

</ul>
<h2>buyer links</h2>
<ul>
  <li><a routerLink="buyer">buyer</a></li>
  <li><a routerLink="buyer/buyerdashboard">dashboard</a></li>

</ul>
<h2>seller links</h2>
<ul>
  <li><a routerLink="seller">seller</a></li>
  <li><a routerLink="seller/sellerdashboard">dashboard</a></li>

</ul>
<router-outlet></router-outlet>
<br>
<br>
<!-- evevt service -->
<h1>name -{{fname.name}},age -{{fname.age}}</h1>
<hr>
<br>
<!--  child to parent putput -->
<h1>{{name}}</h1>
<br>
<app-buyer-details (parentComponent)="parentComponent($event)"></app-buyer-details>
<!-- parent to child input -->
<app-seller-details [hero]="emp_name" dummy="{{dummy}}"></app-seller-details>
<!-- onchange with use input -->
<button (click)="update()">changes</button>
<!-- child to parent by viewchild -->
<h3>message from buyer child component:{{message}}</h3>
<app-buyer-deshboard></app-buyer-deshboard>

<!-- <app-buyer-details></app-buyer-details> -->